
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
* {
      letter-spacing: 2px;
      font-weight: 100;
}

body {
    background: linear-gradient(90deg, rgba(5,5,80,1) 6%, rgba(149,110,156,1) 100%);
} 

.header-links {
  text-decoration: none;
  color: white;
  font-size: 4vh;
  margin-left: auto;
}
.logo {
  cursor: pointer;
  width: 40%;
  margin-left: 2vw;
}

.header-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx{
  color: #eeaef8;
}

.white {
  color: white;
}

.scroller-element {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 3vh;
  height: 20vh;
}

.media-scroller {
  padding-top: 3vh;
  margin-bottom: 6vh;
  display: grid;
  gap: 0.5vw;
  grid-auto-flow: column;
  padding: var(--size-3) var(--size-3); 
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {                    
  display: grid;
  width: auto;
  border-radius: 2vh;
  gap: .25rem ;   
  padding: .25rem;
  box-shadow: var(--shadow-2);
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.scroller-title{
  font-size: 1.5vh;
}

.media-element:hover {
  transform: scale(1.05);
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--size-2);
  scroll-snap-align: start;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.5vh;
} 

::-webkit-scrollbar {   
  height: 4px;
  width: 6px;
  background: #073678;
}

::-webkit-scrollbar-thumb:vertical { 
  background: #7104de;
}

::-webkit-scrollbar:horizontal {   
  height: 4px;
  width: 4px;
  background: #073678;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #7104de;
  border-radius: 10px;
  display: none;
}
.card{
  background: none;
  border-radius: 2vh;
  padding: 2vh 2vh 0.5vh 2vh;
  height: auto;
  box-shadow: var(--shadow-2);
  transition: all 0.2s ease-in-out;
}
.card-img{
  object-fit: cover;
  border-radius: 2vh;
  height: 35vh;
}
.card:hover{
  transform: scale(1.05);
  transform: rotateZ(1deg);
}
.card-title{
  text-align: center;
  font-size: 2vh;
}
.footer{
  height: 8vh;
  background: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authors{
    padding: 4px;
    margin: 0;
    letter-spacing: 4px;
    width: 100%;
}

.authors:hover {
  transform: rotateY(1000000deg);
  transition: transform 1000s;
}

.container {
  margin: 0 auto 0 auto;
  width: 80vh;
  max-width: 80vw;
  padding: 0 2vw 0 2vw;
  text-align: center;
}

.box {
  width: 100%;
  margin-top: 30vh;
}

span {
  color: #fff;
  padding: 4vh 0 1vh 0;
}

header {
  color: #fff;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  padding: 1vh 0 1vh 0;
}

.input-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 3vh;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.input {
  height: 4vh;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  background: none;
}

::-webkit-input-placeholder{
  color: #fff;
  font-size: 2vh;
  text-align: center;
}

.submit {
  color: white;
  border: none;
  border-radius: 3vh;
  font-size: 2.5vh;
  width: 100%;
  height: 4vh;
  outline: none;
  background: rgba(77, 34, 155, 0.8);
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover{
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #0d53b6 !important;
}

.bottom {
  display: flex;
  justify-content: center;
  font-size: 1.5vh;
  color: #fff;
  margin-top: 1vh;
}


.que{
  color: white;
  text-decoration: none;
}

.filter-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-field {
  width: 25%;
  border-radius: 25px;
  border-color: white;
  padding: 10px;
  color: black;
}


.main {
  margin-top: 2vh;
  padding: 0 5vw 0 5vw;
}
.right {
  padding: 2vh;
}
.left {
  padding: 2vh;
}
.right-div {
  height: 100%;
  background-color: #28285f;
  border-radius: 4vh;
  padding: 1vh;
  overflow: hidden;
  text-align: center;
}
.map {
  max-height: 55%;
  min-height: 250px;
  width: 100%;
  margin: 0 12px 0 12px;
  border-radius: 4vh;
  margin-top: 2vh;
  background-color: #28285f;
}
.left-div {
  width: 100%;
  height: fit-content;
  margin-bottom: auto;
  background-color: #28285f;
  border-radius: 4vh;
  padding: 1vh;
}
.event-name {
  color: white;
  padding-left: 0vw;
}
.event-data {
  color: white;
  font-size: 22px;
}
p {
  font-size: 18px;
}
.description > * {
  padding: 0 auto 0 auto;
}
.event-img {
  object-fit: cover;
  border-radius: 4vh;
  height: auto;
  width: 100%;
  aspect-ratio: 4/3;
}